# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS/Credenciais
.env
.aws/
credentials

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
